.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #f2eae3;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.image {
  position: absolute;
  inset: 0;
}
.plant-photo-2 {
  width: 693px;
  height: 1030px;
  position: absolute;
  left: 0px;
  top: -3px;
  object-fit: cover;
  aspect-ratio: 693/1030;
}
.planted {
  color: #000000;
  text-align: left;
  font-family: "Cardo-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 915px;
  top: 158px;
  width: 304px;
  height: 24px;
}
.plant-management-solutions {
  color: #888b61;
  text-align: left;
  font-family: "Cardo-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 921px;
  top: 266px;
}
.rectangle-1 {
  background: #ffffff;
  border-radius: 20px;
  width: 700px;
  height: 604px;
  position: absolute;
  left: 720px;
  top: 330px;
}
.login-to-your-account {
  color: #888b61;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 756px;
  top: 436px;
}
.welcome-back {
  color: #000000;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 756px;
  top: 362px;
  width: 268px;
  height: 45px;
}
.frame-1 {
  display: grid;
  gap: 0px;
  row-gap: 11px;
  position: absolute;
  left: 756px;
  top: 512px;
  grid-template-columns: fit-content(100%) minmax(0, 1fr);
  grid-template-rows: repeat(4, fit-content(100%));
}
.email-box {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  opacity: 0.5;
  width: 598px;
  height: 51px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.password-box {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  opacity: 0.5;
  width: 598px;
  height: 51px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.email {
  color: #000000;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  width: 132px;
  height: 36px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.password {
  color: #000000;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  width: 121px;
  height: 36px;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.forgot-password {
  color: #888b61;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 756px;
  top: 750px;
}
.sign-in-button {
  background: #888b61;
  border-radius: 20px;
  width: 570px;
  height: 58px;
  position: absolute;
  left: 782px;
  top: 846px;
}
.sign-in {
  color: #ffffff;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 1024px;
  top: 846px;
}
