<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planted - Forgot Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design-system.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-forgotpassword.css') }}">
</head>
<body>
    <div class="landing-page">
          <img class="logo-img" src="{{ url_for('static', filename='images/planted-logo-10.png') }}" alt="Planted Logo">
        <div class="login-container">
            <h1 class="planted">Planted</h1>
            <p class="plant-management-solutions">Plant Management Solutions</p>
            <div class="rectangle-1 login-card">
                <h2 class="welcome-back">Forgot Your Password?</h2>
                <p class="login-to-your-account">Enter a valid email address</p>
                <form class="frame-1" action="/forgot-password" method="post">
                    <label for="email">Please enter your email*</label>
                    <input class="email-box" type="email" id="email" name="email" required>

                    <label for="confirm-email">Re-enter your email*</label>
                    <input class="email-box" type="email" id="confirm-email" name="confirm-email" required>

                    <div class="error-messages">
                        <p id="email-error" class="error-text"></p>
                    </div>

                    <button type="submit" class="sign-in-button">Send Reset Password Link</button>
                    <a href="LoginPortal.html" class="back-to-login">Back to Sign In</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
