.plant-master-list,
.plant-master-list * {
  box-sizing: border-box;
}
.plant-master-list {
  background: #f2eae3;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.side-bar {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #ffffff;
  width: 355.73px;
  height: 903px;
  position: absolute;
  left: 0px;
  top: 121px;
}
.scheduling {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 228px;
  width: 146.21px;
}
.rectangle-3 {
  background: #888b61;
  border-radius: 15px;
  width: 323.12px;
  height: 56px;
  position: absolute;
  left: 10px;
  top: 347px;
}
.employees {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 165px;
  width: 349.98px;
  height: 27px;
}
.suppliers {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 294px;
  width: 123.18px;
}
.inventory {
  color: #ffffff;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 360px;
  width: 125.48px;
}
.clients {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 426px;
  width: 90.95px;
}
.job-orders {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 33.02px;
  top: 492px;
  width: 142.75px;
}
.top-banner {
  position: absolute;
  inset: 0;
}
.rectangle {
  background: #ffffff;
  width: 1440px;
  height: 121px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}
.planted-logo-1 {
  width: 92px;
  height: 128px;
  position: absolute;
  left: 14px;
  top: -7px;
  object-fit: cover;
  aspect-ratio: 92/128;
}
.planted {
  color: #000000;
  text-align: left;
  font-family: "Cardo-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 25px;
}
.management-portal {
  color: #888b61;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 57px;
}
.sign-out {
  color: #000000;
  text-align: left;
  font-family: "AksaraBaliGalang-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1273px;
  top: 28px;
}
.plant-master-list2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: 401px;
  top: 151px;
}
.view-all-plants-and-care-info {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 401px;
  top: 193px;
}
.search-bar {
  position: absolute;
  inset: 0;
}
.rounded-rectangle {
  background: #ffffff;
  border-radius: 5px;
  width: 890.46px;
  height: 41px;
  position: absolute;
  left: 390px;
  top: 228px;
}
.pngtree-vector-search-icon-3783210-1 {
  width: 28.79px;
  height: 27.81px;
  position: absolute;
  left: 407.26px;
  top: 236.1px;
  object-fit: cover;
  aspect-ratio: 28.79/27.81;
}
.search-plants {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 439px;
  top: 237px;
  width: 153px;
}
.rectangle-16 {
  background: #888b61;
  border-radius: 5px;
  width: 97.01px;
  height: 41px;
  position: absolute;
  left: 1305.99px;
  top: 228px;
}
.search {
  color: #ffffff;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1324.37px;
  top: 237px;
  width: 61.27px;
}
.monstera {
  position: absolute;
  inset: 0;
}
.monstera2 {
  background: #ffffff;
  border-radius: 20px;
  width: 302px;
  height: 302px;
  position: absolute;
  left: 390px;
  top: 287px;
}
.title {
  width: 248px;
  height: 51px;
  position: static;
}
.monstera-deliciosa {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 469px;
  top: 343px;
}
.gemini-generated-image-406-ayl-406-ayl-406-a-1 {
  width: 52px;
  height: 51px;
  position: absolute;
  left: 408px;
  top: 318px;
  object-fit: cover;
  aspect-ratio: 52/51;
}
.monstera-deliciosa2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 469px;
  top: 318px;
}
.care-info {
  width: 166px;
  height: 136px;
  position: static;
}
.humidity-60-80 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 520px;
}
._65-85-f-18-29-c {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 481px;
}
.gemini-generated-image-1-bwgb-51-bwgb-51-bwg-1 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 420px;
  top: 517px;
  object-fit: cover;
  aspect-ratio: 31/22;
}
.gemini-generated-image-4-vok-4-o-4-vok-4-o-4-vok-1 {
  width: 16px;
  height: 26px;
  position: absolute;
  left: 428px;
  top: 483px;
  object-fit: cover;
  aspect-ratio: 16/26;
}
.gemini-generated-image-r-2-swx-0-r-2-swx-0-r-2-sw-1 {
  width: 33px;
  height: 31px;
  position: absolute;
  left: 419px;
  top: 403px;
  object-fit: cover;
  aspect-ratio: 33/31;
}
.gemini-generated-image-p-3-d-5-x-8-p-3-d-5-x-8-p-3-d-5-1 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 423px;
  top: 441px;
  object-fit: cover;
  aspect-ratio: 25/32;
}
.weekly {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 447px;
}
.bright-indirect-light {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 409px;
}
.pothos {
  position: absolute;
  inset: 0;
}
.monstera3 {
  background: #ffffff;
  border-radius: 20px;
  width: 302px;
  height: 302px;
  position: absolute;
  left: 746px;
  top: 287px;
}
.title2 {
  width: 149px;
  height: 43px;
  position: static;
}
.epipremnum-aureum {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 825px;
  top: 343px;
}
.golden-pothos {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 825px;
  top: 318px;
}
.care-info2 {
  width: 210px;
  height: 136px;
  position: static;
}
.humidity-40-60 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 818px;
  top: 520px;
}
._65-85-f-18-29-c2 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 818px;
  top: 484px;
}
.gemini-generated-image-1-bwgb-51-bwgb-51-bwg-12 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 777px;
  top: 517px;
  object-fit: cover;
  aspect-ratio: 31/22;
}
.gemini-generated-image-4-vok-4-o-4-vok-4-o-4-vok-12 {
  width: 16px;
  height: 26px;
  position: absolute;
  left: 784px;
  top: 483px;
  object-fit: cover;
  aspect-ratio: 16/26;
}
.gemini-generated-image-r-2-swx-0-r-2-swx-0-r-2-sw-12 {
  width: 33px;
  height: 31px;
  position: absolute;
  left: 775px;
  top: 403px;
  object-fit: cover;
  aspect-ratio: 33/31;
}
.gemini-generated-image-p-3-d-5-x-8-p-3-d-5-x-8-p-3-d-5-12 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 779px;
  top: 441px;
  object-fit: cover;
  aspect-ratio: 25/32;
}
.every-1-2-weeks {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 818px;
  top: 447px;
}
.low-to-bright-indirect-light {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 818px;
  top: 409px;
}
.gemini-generated-image-dq-0-fgodq-0-fgodq-0-f-1 {
  width: 49px;
  height: 51px;
  position: absolute;
  left: 764px;
  top: 318px;
  object-fit: cover;
  aspect-ratio: 49/51;
}
.snake-plant {
  position: absolute;
  inset: 0;
}
.monstera4 {
  background: #ffffff;
  border-radius: 20px;
  width: 302px;
  height: 302px;
  position: absolute;
  left: 1101px;
  top: 290px;
}
.title3 {
  width: 143px;
  height: 61px;
  position: static;
}
.dracaena-trifasciata {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 1180px;
  top: 346px;
}
.snake-plant2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1180px;
  top: 321px;
}
.humidity-30-50 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 523px;
}
._60-85-f-16-29-c {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 487px;
}
.gemini-generated-image-1-bwgb-51-bwgb-51-bwg-13 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 1132px;
  top: 520px;
  object-fit: cover;
  aspect-ratio: 31/22;
}
.gemini-generated-image-4-vok-4-o-4-vok-4-o-4-vok-13 {
  width: 16px;
  height: 26px;
  position: absolute;
  left: 1139px;
  top: 486px;
  object-fit: cover;
  aspect-ratio: 16/26;
}
.gemini-generated-image-r-2-swx-0-r-2-swx-0-r-2-sw-13 {
  width: 33px;
  height: 31px;
  position: absolute;
  left: 1130px;
  top: 406px;
  object-fit: cover;
  aspect-ratio: 33/31;
}
.gemini-generated-image-p-3-d-5-x-8-p-3-d-5-x-8-p-3-d-5-13 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 1134px;
  top: 444px;
  object-fit: cover;
  aspect-ratio: 25/32;
}
.every-2-4-weeks {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 450px;
}
.low-to-bright-indirect-light2 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 412px;
}
.gemini-generated-image-51-rs-2-n-51-rs-2-n-51-rs-1 {
  width: 51px;
  height: 51px;
  position: absolute;
  left: 1121px;
  top: 318px;
  object-fit: cover;
  aspect-ratio: 1;
}
.fiddle-leaf-fig {
  position: absolute;
  inset: 0;
}
.monstera5 {
  background: #ffffff;
  border-radius: 20px;
  width: 302px;
  height: 302px;
  position: absolute;
  left: 390px;
  top: 619px;
}
.title4 {
  width: 142px;
  height: 61px;
  position: static;
}
.ficus-lyrata {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 469px;
  top: 675px;
}
.fiddle-leaf-fig2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 469px;
  top: 650px;
}
.care-info3 {
  width: 172px;
  height: 227px;
  position: static;
}
.humidity-50-60 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 852px;
}
.gemini-generated-image-do-8-ieddo-8-ieddo-8-i-1 {
  width: 51px;
  height: 52px;
  position: absolute;
  left: 413px;
  top: 644px;
  object-fit: cover;
  aspect-ratio: 51/52;
}
._65-75-f-18-24-c {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 816px;
}
.gemini-generated-image-1-bwgb-51-bwgb-51-bwg-14 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 421px;
  top: 849px;
  object-fit: cover;
  aspect-ratio: 31/22;
}
.gemini-generated-image-4-vok-4-o-4-vok-4-o-4-vok-14 {
  width: 16px;
  height: 26px;
  position: absolute;
  left: 428px;
  top: 815px;
  object-fit: cover;
  aspect-ratio: 16/26;
}
.gemini-generated-image-r-2-swx-0-r-2-swx-0-r-2-sw-14 {
  width: 33px;
  height: 31px;
  position: absolute;
  left: 419px;
  top: 735px;
  object-fit: cover;
  aspect-ratio: 33/31;
}
.gemini-generated-image-p-3-d-5-x-8-p-3-d-5-x-8-p-3-d-5-14 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 423px;
  top: 773px;
  object-fit: cover;
  aspect-ratio: 25/32;
}
.weekly2 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 779px;
}
.bright-indirect-light2 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 741px;
}
.peace-lily {
  position: absolute;
  inset: 0;
}
.monstera6 {
  background: #ffffff;
  border-radius: 20px;
  width: 302px;
  height: 302px;
  position: absolute;
  left: 745px;
  top: 619px;
}
.title5 {
  width: 156px;
  height: 61px;
  position: static;
}
.spathiphyllum-wallisii {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 824px;
  top: 675px;
}
.peace-lily2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 824px;
  top: 650px;
}
.care-info4 {
  width: 233px;
  height: 227px;
  position: static;
}
.humidity-50-602 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 817px;
  top: 852px;
}
.gemini-generated-image-w-6-buzpw-6-buzpw-6-bu-1 {
  width: 53px;
  height: 52px;
  position: absolute;
  left: 764px;
  top: 644px;
  object-fit: cover;
  aspect-ratio: 53/52;
}
._68-85-f-20-29-c {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 817px;
  top: 816px;
}
.gemini-generated-image-1-bwgb-51-bwgb-51-bwg-15 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 776px;
  top: 849px;
  object-fit: cover;
  aspect-ratio: 31/22;
}
.gemini-generated-image-4-vok-4-o-4-vok-4-o-4-vok-15 {
  width: 16px;
  height: 26px;
  position: absolute;
  left: 783px;
  top: 815px;
  object-fit: cover;
  aspect-ratio: 16/26;
}
.gemini-generated-image-r-2-swx-0-r-2-swx-0-r-2-sw-15 {
  width: 33px;
  height: 31px;
  position: absolute;
  left: 774px;
  top: 735px;
  object-fit: cover;
  aspect-ratio: 33/31;
}
.gemini-generated-image-p-3-d-5-x-8-p-3-d-5-x-8-p-3-d-5-15 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 778px;
  top: 773px;
  object-fit: cover;
  aspect-ratio: 25/32;
}
.weekly3 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 817px;
  top: 779px;
}
.low-to-medium-indirect-light {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 817px;
  top: 741px;
}
.zz-plant {
  position: absolute;
  inset: 0;
}
.monstera7 {
  background: #ffffff;
  border-radius: 20px;
  width: 302px;
  height: 302px;
  position: absolute;
  left: 1101px;
  top: 619px;
}
.title6 {
  width: 164px;
  height: 61px;
  position: static;
}
.zamioculcas-zamiifolia {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Italic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 1180px;
  top: 675px;
}
.zz-plant2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1180px;
  top: 650px;
}
.care-info5 {
  width: 220px;
  height: 227px;
  position: static;
}
.humidity-40-50 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 852px;
}
.gemini-generated-image-550-l-0-y-550-l-0-y-550-l-1 {
  width: 53px;
  height: 53px;
  position: absolute;
  left: 1121px;
  top: 646px;
  object-fit: cover;
  aspect-ratio: 1;
}
.gemini-generated-image-w-6-buzpw-6-buzpw-6-bu-12 {
  width: 53px;
  height: 52px;
  position: absolute;
  left: 1120px;
  top: 644px;
  aspect-ratio: 53/52;
}
._65-75-f-18-24-c2 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 816px;
}
.gemini-generated-image-1-bwgb-51-bwgb-51-bwg-16 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 1132px;
  top: 849px;
  object-fit: cover;
  aspect-ratio: 31/22;
}
.gemini-generated-image-4-vok-4-o-4-vok-4-o-4-vok-16 {
  width: 16px;
  height: 26px;
  position: absolute;
  left: 1139px;
  top: 815px;
  object-fit: cover;
  aspect-ratio: 16/26;
}
.gemini-generated-image-r-2-swx-0-r-2-swx-0-r-2-sw-16 {
  width: 33px;
  height: 31px;
  position: absolute;
  left: 1130px;
  top: 735px;
  object-fit: cover;
  aspect-ratio: 33/31;
}
.gemini-generated-image-p-3-d-5-x-8-p-3-d-5-x-8-p-3-d-5-16 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 1134px;
  top: 773px;
  object-fit: cover;
  aspect-ratio: 25/32;
}
.every-2-3-weeks {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 779px;
}
.low-to-bright-indirect-light3 {
  color: #888b61;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 741px;
}
