.adjust-stock,
.adjust-stock * {
  box-sizing: border-box;
}
.adjust-stock {
  background: #ffffff;
  height: 305px;
  position: relative;
  overflow: hidden;
}
.adjust-stock-to {
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 226px;
}
.adjust-stock-to-span {
  color: #000000;
}
.adjust-stock-to-span2 {
  color: #d60004;
}
.item {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 21px;
}
.current-stock {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 48px;
}
.reorder-level {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 76px;
}
.adjust-stock2 {
  position: absolute;
  inset: 0;
}
.rectangle-29 {
  background: #f2eae3;
  width: 363px;
  height: 29px;
  position: absolute;
  left: 28px;
  top: 256px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 361px;
  top: 242px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 36px;
  top: 228px;
}
.rectangle-30 {
  background: #f2eae3;
  width: 363px;
  height: 115px;
  position: absolute;
  left: 28px;
  top: 105px;
}
.reason-for-adjustment {
  color: #000000;
  text-align: left;
  font-family: "Asap-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 36px;
  top: 114px;
}
